@model IEnumerable<Ogrenci>

    <h2>Öğrenci Ekle</h2>
    <a asp-controller="Ogrenci" asp-action="Create" class="btn btn-primary">Ekle</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.OgrenciId)</th>
                <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th>
                <th>@Html.DisplayNameFor(m => m.OgrenciSoyad)</th>
                <th style="width: 150px;">Ayarlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@Html.DisplayFor(modelitem => item.OgrenciId)</td>
                    <td>@Html.DisplayFor(modelitem => item.OgrenciAd)</td>
                    <td>@Html.DisplayFor(modelitem => item.OgrenciSoyad)</td>
                    <td>
                        <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>