@model IEnumerable<Ogretmen>

    <h2>Öğretmen Ekle</h2>
    <a asp-controller="Ogretmen" asp-action="Create" class="btn btn-primary">Ekle</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.OgretmenId)</th>
                <th>@Html.DisplayNameFor(m => m.Ad)</th>
                <th>@Html.DisplayNameFor(m => m.Soyad)</th>
                <th>@Html.DisplayNameFor(m => m.BaslamaTarihi)</th>
                <th style="width: 150px;">Ayarlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@Html.DisplayFor(modelitem => item.OgretmenId)</td>
                    <td>@Html.DisplayFor(modelitem => item.Ad)</td>
                    <td>@Html.DisplayFor(modelitem => item.Soyad)</td>
                    <td>@Html.DisplayFor(modelitem => item.BaslamaTarihi)</td>
                    <td>
                        <a asp-controller="Ogretmen" asp-action="Edit" asp-route-id="@item.OgretmenId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-controller="Ogretmen" asp-action="Delete" asp-route-id="@item.OgretmenId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>